<div class="about relative">
    <div class="left">
        <div style="background-image: url('{{ "photo-about.jpg" | asset_img_url: '900x' }}')"  ></div>
    </div>
    <div class="right">
        <div class="text-inner">
            <h1>{{ collections[section.settings.collection].title }}</h1>
            <h3>{{ collections[section.settings.collection].description }}</h3>
            <!-- <a href="{{ collections[section.settings.collection].url }}">Shop Now</a> -->
        </div>
        <a href="{{ collections[section.settings.collection].url }}" class="circle">
            <i class="fas fa-arrow-right"></i>
            <svg class="svg-edit" viewBox="0 0 100 105" width="100" height="100">
                <defs>
                  <path id="circle"
                    d="
                      M 50, 50
                      m -37, 0
                      a 37,37 0 1,1 74,0
                      a 37,37 0 1,1 -74,0"/>
                </defs>
                <text font-weight="200" font-size="23">
                  <textPath xlink:href="#circle">
                    Shop Now
                  </textPath>
                </text>
              </svg>
        </a>
    </div>
</div>

{% schema %}
{
    "name": "Collection",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ]
}
{% endschema %}